html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: black;
  font-family: sans-serif;
  gap: 10vh;
}

h1 {
  color: white;
  margin-top: 5vh;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20vh;
}

.player {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player.active {
  box-shadow: 1px 1px 79px 21px rgba(255, 255, 255, 0.82);
  -webkit-box-shadow: 1px 1px 79px 21px rgba(255, 255, 255, 0.82);
  -moz-box-shadow: 1px 1px 79px 21px rgba(255, 255, 255, 0.82);
}

.gameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: grey;
  width: 500px;
  height: 500px;
}

.gameTile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: solid 2px black;
  background-color: white;
  margin: 10px;
}

.gameTile:hover {
  border: solid 6px white;
}
